// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";


/*== 1200px and beyond ===================================================
========================================================================*/

/* Large desktop */
@media (min-width: 1200px) {} 

/*== Up to 1200px =====================================================
========================================================================*/

/* Large desktop */
@media (max-width: 1200px) {

  #contact_map{
    height: 376px;
  }
  .row-fluid {
    margin-left: -@gridGutterWidth;
    [class*="itemSpan"],[class*="span"] {
      padding-left: @gridGutterWidth;
    }
  }
  .fluid{
    margin-left: -@gridGutterWidth;
  }
  .camera_caption{
    margin-top: -108px !important;
  }
  .camera_caption > div{
    padding: 20px !important;
  }
  .camera_caption > div p{
    display: none;
  }
  .camera_target_content{
    width: 400px !important;
  }
  .export{
    background-position: 20px 21px;
  }
  .export > *{
    padding-left: 285px;
  }
  .reviews{
    background-position: 20px 0;
  }
  .reviews > *{
    padding-right: 0;
    padding-left: 130px;
  }
} 

/*== Up to 980px ======================================================
========================================================================*/

/* Narrow desktop */
@media (max-width: 979px) {

  h2{
    font-size: 30px;
    line-height: 35px;
  }
  .camera_target_content{
    width: 280px !important;
  }
  .camera_caption{
    margin-top: -98px !important;
  }
  
  .thumbnails {
    margin-left: -12px;
  }
  .thumbnails > li {
    margin-left: 12px;
  }

  /*footer*/
  #back-top{
    display: none !important;
  }

  .row-fluid {
    margin-left: -@gridGutterWidth768;
    [class*="itemSpan"],[class*="span"] {
      padding-left: @gridGutterWidth768;
    }
  }
  .fluid{
    margin-left: -@gridGutterWidth768;
  }

  .export{
    background-position: 12px 21px;
  }
  .export > *{
    padding-left: 234px;
  }
  .reviews{
    background-position: 12px 0;
  }
  .camera_prev, .camera_next{
    margin-top: 0 !important;
    top: auto !important;
    bottom: 0;
  }

}

/*== Up to 980px and beyond 768px ======================================
========================================================================*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {



}


/*== Up to 767px ======================================================
========================================================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px){

  body{
    padding: 0;
    .row-container{
      padding: 0 20px;
    }
  }

  // Stick to bottom footer styles
  #wrapper{
    margin: 0;
  }

  #footer-wrapper{
    height: auto;
  }

  #push{
    display: none;
  }

  #logo{
    width: 33.3333% !important;
    float: left !important;
    text-align: left;
    a{
      left: 12px;
      right: 0;
    }
  }
  .scrolled #logo a{
    top: 0;
  }
  .scrolled #logo a img{
    margin-bottom: 0;
  }
  .moduletable.navigation{
    width: 66.6666% !important;
    float: left !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .camera_caption > div h2{
    padding: 0 !important;
    border: none !important;
    margin-bottom: 10px !important;
    font-size: 20px;
    line-height: 24px;
  }

  .camera_caption > div{
    padding: 10px !important;
  }

  .camera_target_content{
    width: 180px !important;
  }

  .camera_caption{
    margin-top: -58px !important;
  }

  .export{
    background: none;
  }
  .export > *{
    padding-left: 0;
  }

  .fruits{
    .item{
      float: left !important;
      width: 50% !important;
      img{
        width: 100%;
      }
    }
  }

  .reviews{
    background: none;
    >*{
      padding-left: 0;
    }
  }

  #copyright-row{
    padding-top: 20px;
  }
  #copyright{
    padding: 15px 0;
  }

  .nav.menu.pull-right.nav-pills{
    float: none;
    text-align: center;
    li{
      float: none;
      display: inline-block;
    }
  }


  /*content*/

    [class*="cols"]{
      [class*="span"]{
        width: 100%;
      }
    }

  .item-image.blog-image{
    float: none;
    margin: 0 0 20px 0;
  }

  .row-fluid {
    [class*="itemSpan"],
    [class*="span"] {
      display: block;
      float: none;
      margin-left: 0;
      width: auto;
    }
  }

  /*gallery*/
  .page-gallery{
    ul.gallery{
      .gallery-grid{
        width: 48.5%;
        max-width: 48.5%;
      }
    }
  }

  .layout-mode{
    float: none;
  }

  .mod-custom__main_img{
    height: 140px;
  }

  .page-gallery ul.gallery .gallery-grid .view .item_img{
    max-width: 100%;
    a{
      display: block;
    }
  }

  .img-full__left.span5{
    width: 50%;
  }

  /*contact*/
  .contact_details{
    .contact_details_item{
      width: 30%;
      float: left;
    }
  }

  .page-gallery ul.gallery .gallery-grid .view{
    margin: 0 auto;
    .item_img{
      float: none;
      margin: 0 !important;
    }
  }

  /*Modules*/

  .team{
    .item{
      float: left !important;
      width: 33.33% !important;
    }
  }

  /*search*/
  .mod-search__aside{
    .mod-search_searchword{
      width: 50%;
    }
  }

  /*login*/
  .mod-login__aside{
    .mod-login_username,
    .mod-login_passwd{
      width: 50%;
    }
  }

  #back-top{
    display:none !important;
  }

}

/*== Up to 640px ==================================================
====================================================================*/

@media (max-width: 640px) {

  /*contact*/

  .contact_details{
    margin-bottom: @baseLineHeight;
    .contact_details_item{
      width: 100%;
      float: none;
    }
  }

  .layout-mode{
    float: none;
  }
  .page-blog{
    .img-intro__left{
      float: none;margin-right: 0;
      max-width: 100%;
    }
  }

}

/*== Up to 480px ==================================================
====================================================================*/

/* Landscape phones and down */
@media (max-width: 479px) {

  /*contact*/

  .contact_form{
    width: 100%;
  }

  /*registration*/

  .page-registration,
  .page-remind,
  .page-reset,
  .page-login,
  .page-login,
  .page-profile__edit{
    form{
      input, select{
        width: 100%;
      }
      label{
        display: inline-block;
      }
    }
  }

  /* pagination */

  .pagination{
    ul{
      li{
        display: none;
        &.pagination-prev,
        &.pagination-next{
          display: inline-block;
        }
      }
    }
  }

  /*gallery*/

  .page-gallery{
    .item_img.img-intro{
      float: none;
      margin: 0 0 @baseLineHeight 0;
    }
    ul.gallery{
      .gallery-item{
        text-align: center;
        max-width: 100%;
        width: 100%;
        .item_img{
          float: none;
          margin: 0 auto @baseLineHeight !important;
          max-width: 100%;
          img{
            width: 100%;
          }
        }
        a.zoom{
          display: block;
        }
      }
    }
  }

  .img-full__left.span5{
    width: 100%;
    margin-right:0;
  }

  /*blog*/

  .page-blog .item_content, .page-item__blog .item_content{
    clear: both;
    padding-top: 20px;
  }

  .item_img{
    float: none;
     margin: 0 0 @baseLineHeight 0;
     max-width: 100%;
  }

  /*archive*/

  .page-archive_filters{
    select{
      display: block;
      width: 100%;
    }
  }

  /*contact*/

  .contact_details{
    .contact_details_item{
      width: 100%;
      float: none;
    }
  }

  /*Modules*/

  .team{
    .item{
      float: left !important;
      width: 50% !important;
    }
  }

  /*search*/

  .mod-search__aside{
    .mod-search_searchword{
      width: 100%;
    }
  }

  /*login*/

  .mod-login__aside{
    .mod-login_userdata{
      width: 100%;
      overflow: hidden;
    }
    .mod-login_username,
    .mod-login_passwd{
      width: 100%;
    }
  }

  div.modal{
    position:absolute;
  }
  #error{
    input{
      width: 200px;
    }
  }
  .camera_target_content{
    margin-left: -30px !important;
  }
}

/*== Up to 340px =====================================================
========================================================================*/

/* Portrait phones */
@media (max-width: 360px) {

  .fruits{
    .item{
      float: none !important;
      width: 100% !important;
    }
  }
  
}
